<section class="contact-page">

  <!-- Contact Information Section -->
  <div class="contact-info">
    <h2>Contact Us</h2>
    <p><strong>Phone:</strong> +353 85 456 7890</p>
    <p><strong>Address:</strong> 146 Sandyford Rd, Dundrum, Dublin 16, Ireland</p>
    <p><strong>Opening Hours:</strong></p>
    <ul>
    <li>Monday - Friday: 6:00 AM - 10:00 PM</li>
    <li>Saturday: 8:00 AM - 8:00 PM</li>
    <li>Sunday: 9:00 AM - 6:00 PM</li>
    </ul>
    <p>We are here to help you with your fitness goals and answer any questions about our facilities or programs.</p>
    <p>Follow us on our social media platforms for updates and special offers!</p>
    <p>Contact us at <a href="mailto:x23323205@student.ncirl.ie">info@fastfitgym.com</a></p>
  </div>

  <!-- Google Maps Section -->
  <div class="map-container">
    <h3>Find Us Here</h3>
    <!-- Embedded Google Maps iframe -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.5278233162953!2d-6.2316158999999995!3d53.280079400000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4867097225734c7b%3A0x85138354e6527b3a!2s146%20Sandyford%20Rd%2C%20Dundrum%2C%20Dublin%2016%2C%20D16%20YY59!5e0!3m2!1sen!2sie!4v1732042607274!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
