<footer>
  <!-- Container for social media and contact icons -->
  <div class="footer-icons">
    <a href="https://www.facebook.com/stela.castello" target="_blank" class="icon-link"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/poxastela" target="_blank" class="icon-link"><i class="fab fa-instagram"></i></a>
    <a href="mailto:x23323205@student.ncirl.ie" class="icon-link"><i class="fas fa-envelope"></i></a>
    <a href="https://www.google.ie/maps/place/146+Sandyford+Rd,+Dundrum,+Dublin+16,+D16+YY59/@53.2800826,-6.2341908,16z/data=!3m1!4b1!4m6!3m5!1s0x4867097225734c7b:0x85138354e6527b3a!8m2!3d53.2800794!4d-6.2316159!16s%2Fg%2F11lhkhv15z?entry=ttu&g_ep=EgoyMDI0MTExMy4xIKXMDSoASAFQAw%3D%3D" target="_blank" class="icon-link"><i class="fas fa-map-marker-alt"></i></a>
  </div>
  <!-- Copyright notice -->
  <p>&copy; 2024 Fast Fit Gym. All rights reserved.</p>
</footer>
